<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
    {% include 'cdn.html' %}
</head>
<body>
<h1>Student Details</h1>
<table class="table table-bordered">
    <thead class="bg-success">
    <tr>
        <th>Sname</th>
        <th>Marks</th>
        <th>Fee</th>
        <th>Location</th>
        <th>course</th>
    </tr>
    </thead>
    <tbody class="bg-dark text-white">
    <tr>
        <td>sai</td>
        <td>50</td>
        <td>5000</td>
        <td>hyd</td>
        <td>python</td>
    </tr>
     <tr>
        <td>nani</td>
        <td>45</td>
        <td>4000</td>
        <td>bang</td>
         <td>css</td>
    </tr>
     <tr>
        <td>satya</td>
        <td>49</td>
        <td>5000</td>
        <td>puri</td>
         <td>django</td>
    </tr>
     <tr>
        <td>rohan</td>
        <td>450</td>
        <td>3000</td>
        <td>byd</td>
         <td>html</td>
    </tr>
    </tbody>
</table>

</body>
</html>